.chefs-bg{
  scroll-margin-top: 40px;
  position: relative;
  @include device(s){
    padding: 0 20px;
  }
  &::after{
    content: "";
    background-image: url(../assets/paper-bg.jpg);
    background-size: 750px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: -1;
  }
  .chefs-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px 100px;
    padding: 100px 0;
    @include device(l){
      grid-template-columns: 1fr 1fr;
    }
    
    h2{
      grid-column: 1/-1;
      @include type-1(60);
      text-align: center;
      @include device(s){
        @include type-1(40);
      }
    }
    h3{
      @include type-1(40);
      text-align: center;
      margin-bottom: 20px;
      @include device(s){
        @include type-1(30);
      }
    }
    p{
      @include type-2(18);
      text-align: center;
    }
    .img{
      border: 2px solid $cor-base-14;
      position: relative;
      z-index: 0;
      margin-bottom: 20px;
      overflow: hidden;
      img{
        position: relative;
        z-index: 0;
        padding: 10px;
      }
    }
  }
}