.menu{
  scroll-margin-top: 180px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  .menu-nav{
    background: $cor-base-01;
    text-align: center;
    padding: 20px;
    margin-top: -40px;
    box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.2);
    height: max-content;
    h2{
      @include type-1(40);
      margin-bottom: 30px;
    }
    button{
      @include type-2(20);
      background: none;
      border: none;
      margin-bottom: 20px;
      cursor: pointer;
    }
  }
  .menu-itens{
   position: relative;
   display: grid;
    div{
      grid-area: 1/1;
      display: grid;
      transform: translateX(-100%);
      visibility: hidden;
      overflow: hidden;
      transition: .6s;
      grid-template-columns: repeat(3, 1fr);
      gap: 2px;
      opacity: 0;
    }
    div.ativo{
      visibility: visible;
      transform: translateX(0) ;
      opacity: 1;
    }
  }
}