@import 'reset-css';
@import "./mixins-and-variables.scss";
@import "./header.scss";
@import "./introduction.scss";
@import "./menu.scss";
@import "./steak-bg.scss";
@import "./chefs.scss";
@import "./gallery.scss";
@import "./book-a-table.scss";
@import "./footer.scss";
@import "./footer.scss";
@import "./nav-mobile.scss";

*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body{
  background-color: $cor-base-02;
}



.container{
  @include container
}